<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <main>
        <h4>New Task</h4>

        <%= form_with model: @task do |f| %>
          <%= f.label :body, "task", class: "font-weight-bold" %>
          <%= f.text_field :body, class: 'form-control' %>

          <%= f.label :due, class: "font-weight-bold" %>
          <%= f.datetime_field :due, class: 'form-control' %>

          <div class="mt-3"><%= f.submit 'Save', class: "submit btn btn-success" %></div>
        <% end %>
      </main>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>